#message {
    display: none;
    font-size: 20px;
    color: black;
    padding: 25px;
    
   
    text-align: justify;
  }
  #btn{
    margin: 35px;
    padding: 10px;
    border-radius: 10px;
    background: lightskyblue;
  }
  